<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          Hello, my name is Anıl İşcan and I am a Civil Engineering student at Yıldız Technical University.
          I have been coding for a year now and I have build several full-stack web applications, programs and AI that plays simple games.
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          I am very comfortable in Python, Django, HTML/CSS, SQL and Bootstrap and comfortable in Javascript and React.
          I have also been studying Machine Learning and Artificial Intelligence.
          After studying for a year, I now want to gain real life work experience and learn more on the spot.
        </p>
      </div>
    </div>
  </div>
</section>
